<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        ">

    <bean id="createClassicMusic"
          class="classes.ClassicalMusic">
    </bean>

    <bean id="createRockMusic"
          class="classes.RockMusic">
    </bean>

    <bean id="musicPlayer"
        class="classes.MusicPlayer">
        <property name="music" ref="createRockMusic" />
    </bean>

</beans>